BODY {
	FONT-SIZE: 12px; BACKGROUND: #fff; MARGIN: 0px auto; WIDTH: 980px; COLOR: #000000; FONT-FAMILY: 'ו',Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #d13f3f; TEXT-DECORATION: underline
}
A:active {
	COLOR: #d13f3f; TEXT-DECORATION: underline
}
H4 A:link {
	COLOR: #990600; TEXT-DECORATION: none
}
H4 A:visited {
	COLOR: #990600; TEXT-DECORATION: none
}
H4 A:hover {
	COLOR: #d13f3f; TEXT-DECORATION: underline
}
H4 A:active {
	COLOR: #d13f3f; TEXT-DECORATION: underline
}
#banner1 IMG {
	
}
#banner1 {
	MARGIN: 0px auto; WIDTH: 980px
}
#banner2 IMG {
	PADDING-TOP: 3px
}
#banner2 {
	MARGIN: 0px auto; WIDTH: 980px
}
#header {
	BACKGROUND: url(../img/topbej.gif); MARGIN: 0px auto; WIDTH: 980px; LIST-STYLE-TYPE: none; HEIGHT: 28px
}
#header H1 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 260px; PADDING-TOP: 0px
}
#header UL {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#banner4 IMG {
	MARGIN-TOP: 3px
}
#banner4 {
	MARGIN: 0px auto; WIDTH: 980px
}
.artcon {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 17px; TEXT-ALIGN: left
}
.artcon1 {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 24px; BORDER-BOTTOM: #8c8c8c 1px dotted; TEXT-ALIGN: left
}
.active {
	FONT-WEIGHT: bold; WIDTH: 100px; HEIGHT: 27px
}
#content_Notice {
	MARGIN: 3px auto 0px; OVERFLOW: hidden; WIDTH: 980px
}
.Notice_left {
	PADDING-LEFT: 0px; FLOAT: left; WIDTH: 200px
}
.Notice_xx {
	FLOAT: left; WIDTH: 229px
}
.Notice_leftxx {
	FLOAT: left; WIDTH: 229px! important; HEIGHT: 11px
}
.Notice_leftxx UL {
	PADDING-LEFT: 35px; FONT-SIZE: 14px; MARGIN: 0px auto; COLOR: #000000; PADDING-TOP: 8px
}
.Notice_leftxx LI {
	PADDING-LEFT: 35px; FONT-WEIGHT: bold; FLOAT: left; PADDING-TOP: 8px; LIST-STYLE-TYPE: none
}
.Notice_leftxx2 {
	BACKGROUND: url(../img/notice_left2.jpg) repeat-x; FLOAT: left; MARGIN-LEFT: 1px; WIDTH: 229px; HEIGHT: 8px! important
}
.Notice_leftmenu {
	BORDER-RIGHT: #dc95b3 1px solid; FLOAT: left; BORDER-LEFT: #dc95b3 1px solid; WIDTH: 229px; HEIGHT: 200px! important
}
.Notice_leftmenu1 {
	MARGIN-TOP: 0px! important; BACKGROUND: url(../img/0notice_left3.jpg) repeat-y; MARGIN-LEFT: 8px; WIDTH: 215px! important; COLOR: #fff; PADDING-TOP: 0px; HEIGHT: 30px! important; TEXT-ALIGN: left
}
.Notice_leftmenu1 UL {
	MARGIN: 0px auto; COLOR: #fff; PADDING-TOP: 5px
}
.Notice_leftmenu1 LI {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FLOAT: left; PADDING-TOP: 5px; LIST-STYLE-TYPE: none
}
.Notice_leftmenu1 SPAN {
	MARGIN-TOP: 5px; PADDING-LEFT: 10px; FLOAT: left; WIDTH: 9px; HEIGHT: 10px
}
.Notice_leftmenu2 {
	WIDTH: 210px! important; COLOR: #000000; TEXT-ALIGN: left
}
.Notice_leftmenu02 {
	MARGIN: 0px auto; WIDTH: 210px! important; COLOR: #000000
}
.Notice_leftmenu02 LI {
	PADDING-LEFT: 5px; FLOAT: left; MARGIN: 0px 0px 0px 5px; WIDTH: 60px; LINE-HEIGHT: 22px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none
}
.Notice_leftmenu2 LI {
	PADDING-LEFT: 5px; LINE-HEIGHT: 22px; PADDING-TOP: 5px; BORDER-BOTTOM: #979797 1px dotted; LIST-STYLE-TYPE: none
}
.Notice_leftmenu2 SPAN {
	MARGIN-TOP: 5px; PADDING-LEFT: 5px; WIDTH: 15px; PADDING-TOP: 0px; HEIGHT: 0px
}
Notice_leftmenu2 LI A:link {
	WIDTH: 215px; COLOR: #000; TEXT-DECORATION: none
}
Notice_leftmenu2 LI A:visited {
	WIDTH: 215px; COLOR: #000; TEXT-DECORATION: none
}
Notice_leftmenu2 LI A:hover {
	WIDTH: 215px; COLOR: #d5111b; BACKGROUND-COLOR: #000; TEXT-DECORATION: underline
}
Notice_leftmenu2 LI A:active {
	WIDTH: 215px; TEXT-DECORATION: underline
}
.Notice_right {
	FLOAT: left; MARGIN-LEFT: 3px! important; WIDTH: 773px
}
.Notice_rightxx {
	MARGIN-TOP: 2px; BACKGROUND: #f1f1f1; FLOAT: left; WIDTH: 100%; HEIGHT: 22px; TEXT-ALIGN: left
}
.Notice_rightxx LI {
	MARGIN-TOP: 3px; DISPLAY: block; BACKGROUND: #f1f1f1; FLOAT: left; WIDTH: 60%
}
.Notice_rightxx SPAN {
	MARGIN-TOP: 3px; PADDING-LEFT: 5px; FLOAT: left; WIDTH: 20px; HEIGHT: 10px
}
.Notice_rightxx1 {
	BORDER-RIGHT: #dc95b3 1px solid; BORDER-TOP: #dc95b3 1px solid; MARGIN-TOP: 3px; FLOAT: left; BORDER-LEFT: #dc95b3 1px solid; WIDTH: 100%; BORDER-BOTTOM: #dc95b3 1px solid; TEXT-ALIGN: left
}
.Notice_rightxx2 {
	FONT-SIZE: 14px; BACKGROUND: url(../img/notice_r1.gif); FLOAT: left; WIDTH: 100%; HEIGHT: 31px
}
.Notice_rightxx3 {
	BACKGROUND: url(../img/notice_kong.gif) no-repeat; FLOAT: left; MARGIN-LEFT: 0px; WIDTH: 100%; HEIGHT: 3px
}
.Notice_rightxx2 UL {
	PADDING-LEFT: 8px; MARGIN: 0px; COLOR: #656567; PADDING-TOP: 5px
}
.Notice_rightxx2 LI {
	PADDING-LEFT: 8px; FONT-WEIGHT: bold; FLOAT: left; PADDING-TOP: 5px; LIST-STYLE-TYPE: none
}
.Notice_rightxx2 SPAN {
	MARGIN-TOP: 8px; PADDING-LEFT: 5px; FLOAT: left; WIDTH: 9px; HEIGHT: 10px
}
.Notice_rightxx2 P {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: right; MARGIN: 0px auto; WIDTH: 80px; COLOR: #c10911; PADDING-TOP: 5px
}
.Notice_ggg {
	PADDING-LEFT: 1px! important; BACKGROUND: url(../img/notice_left01.gif) repeat-x; WIDTH: 229px! important; HEIGHT: 11px
}
.Notice_ggg TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 25px
}
.Notice_ggg FORM {
	WIDTH: 80%
}
.right_box {
	BORDER-RIGHT: #dc95b3 1px solid; BORDER-TOP: #dc95b3 0px solid; FLOAT: left; BORDER-LEFT: #dc95b3 1px solid; WIDTH: 229px; BORDER-BOTTOM: #dc95b3 0px solid
}
.right_title {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../img/notice_02.gif); HEIGHT: 27px
}
.right_title1 {
	BACKGROUND: url(../img/notice_r4.gif) repeat-x; FLOAT: left; MARGIN-LEFT: 9px; WIDTH: 210px; HEIGHT: 7px! important
}
.right_title UL {
	PADDING-LEFT: 8px; MARGIN: 0px auto; COLOR: #000; PADDING-TOP: 5px
}
.right_title LI {
	PADDING-LEFT: 8px; FONT-WEIGHT: bold; FLOAT: left; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.right_title SPAN {
	PADDING-LEFT: 25px; FLOAT: left; WIDTH: 9px; HEIGHT: 22px
}
.pagination {
	FLOAT: right
}
.artcon_new {
	FONT-SIZE: 12px; WIDTH: 98%; LINE-HEIGHT: 22px! important; PADDING-TOP: 8px! important; HEIGHT: 225px! important; TEXT-ALIGN: left
}
.artcon_new LI {
	PADDING-LEFT: 5px; FONT-SIZE: 12px; FLOAT: left; OVERFLOW: hidden; WIDTH: 98%; LINE-HEIGHT: 22px! important; LIST-STYLE-TYPE: none
}
.artcon_new UL {
	MARGIN: 0px; OVERFLOW: hidden; LINE-HEIGHT: 22px; LIST-STYLE-TYPE: none
}
.artcon_new SPAN {
	PADDING-RIGHT: 0px; FLOAT: right; COLOR: #000000
}
.Notice_leftmenu1 A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.Notice_leftmenu1 A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.Notice_leftmenu1 A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
.Notice_leftmenu1 A:active {
	COLOR: #fff; TEXT-DECORATION: underline
}
#tigtag_new1 A:link {
	COLOR: #d13f3f; TEXT-DECORATION: none
}
#tigtag_new1 A:visited {
	COLOR: #d13f3f; TEXT-DECORATION: none
}
#tigtag_new1 A:hover {
	COLOR: #d13f3f; TEXT-DECORATION: underline
}
#tigtag_new1 A:active {
	COLOR: #d13f3f; TEXT-DECORATION: underline
}
#tigtag2_rightnew1 A:link {
	COLOR: #d13f3f; TEXT-DECORATION: none
}
#tigtag2_rightnew1 A:visited {
	COLOR: #d13f3f; TEXT-DECORATION: none
}
#tigtag2_rightnew1 A:hover {
	COLOR: #d13f3f; TEXT-DECORATION: underline
}
#tigtag2_rightnew1 A:active {
	COLOR: #d13f3f; TEXT-DECORATION: underline
}
.leftNav {
	CLEAR: left; BORDER-RIGHT: #dc97b4 1px solid; BORDER-TOP: #dc97b4 1px solid; FLOAT: left; MARGIN: 0px; BORDER-LEFT: #dc97b4 1px solid; WIDTH: 198px; PADDING-TOP: 3px; BORDER-BOTTOM: #dc97b4 1px solid; BACKGROUND-COLOR: #fafafa; TEXT-ALIGN: left
}
.leftNav DIV {
	CLEAR: left; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../img/notice_x02.gif) repeat-x 0px 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.leftNav UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 1px
}
.leftNav H3 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 35px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fff; LINE-HEIGHT: 28px; HEIGHT: 25px; TEXT-ALIGN: center
}
.leftNav UL DIV {
	CLEAR: left; BORDER-RIGHT: #dc97b4 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #dc97b4 1px solid; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../img/0notice_left3.jpg) repeat-x 0px 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #dc97b4 1px solid; LINE-HEIGHT: 22px; PADDING-TOP: 0px; BORDER-BOTTOM: #dc97b4 1px solid; TEXT-ALIGN: left
}
.leftNav H4 {
	CLEAR: left; DISPLAY: inline; PADDING-LEFT: 50px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../img/notice_lefttu.jpg) no-repeat 25% 45%; COLOR: #990600; LETTER-SPACING: 3px; HEIGHT: 26px; TEXT-ALIGN: left
}
.leftNav LI {
	DISPLAY: block; PADDING-LEFT: 25px; LINE-HEIGHT: 25px; BORDER-BOTTOM: #b1a89b 1px dashed; LIST-STYLE-TYPE: none
}
.leftNav DL {
	CLEAR: both; PADDING-LEFT: 12px; MARGIN: 0px; LINE-HEIGHT: 25px; TEXT-ALIGN: left
}
.leftVisitLink {
	FONT-WEIGHT: bold; COLOR: #f26522; TEXT-DECORATION: underline
}
.leftNav1 {
	CLEAR: left; BORDER-RIGHT: #dc97b4 1px solid; BORDER-TOP: #dc97b4 1px solid; FLOAT: left; MARGIN: 0px; BORDER-LEFT: #dc97b4 1px solid; WIDTH: 198px; PADDING-TOP: 3px; BORDER-BOTTOM: #dc97b4 1px solid; BACKGROUND-COLOR: #fafafa; TEXT-ALIGN: left
}
.leftNav1 DIV {
	CLEAR: left; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../img/notice_x02.gif) repeat-x 0px 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.leftNav1 UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 1px
}
.leftNav1 H3 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 35px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fff; LINE-HEIGHT: 28px; HEIGHT: 25px; TEXT-ALIGN: center
}
.leftNav1 UL DIV {
	CLEAR: left; BORDER-RIGHT: #dc97b4 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #dc97b4 1px solid; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../img/0notice_left3.jpg) repeat-x 0px 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #dc97b4 1px solid; LINE-HEIGHT: 22px; PADDING-TOP: 0px; BORDER-BOTTOM: #dc97b4 1px solid; TEXT-ALIGN: left
}
.leftNav1 H4 {
	CLEAR: left; DISPLAY: inline; PADDING-LEFT: 25px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../img/notice_lefttu.jpg) no-repeat 5% 30%; COLOR: #990600; LETTER-SPACING: 3px; HEIGHT: 26px; TEXT-ALIGN: left
}
.leftNav1 LI {
	DISPLAY: block; PADDING-LEFT: 5px; LINE-HEIGHT: 25px; BORDER-BOTTOM: #b1a89b 1px dashed; LIST-STYLE-TYPE: none
}
.leftNav1 DL {
	CLEAR: both; PADDING-LEFT: 12px; MARGIN: 0px; LINE-HEIGHT: 25px; TEXT-ALIGN: left
}
