.footer {
	BACKGROUND: #efefef; MARGIN: 0px auto; WIDTH: 980px
}
.footer1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 0px; WIDTH: 110px; PADDING-TOP: 10px; HEIGHT: 92px
}
.footer2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; WIDTH: 720px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.footer2 P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 25px; PADDING-TOP: 0px; HEIGHT: 25px; TEXT-ALIGN: center
}
.footer3 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 0px; WIDTH: 110px; PADDING-TOP: 10px; HEIGHT: 92px
}
