<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap   PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"     "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="com.ufgov.zc.server.zc.dao.HuiyuanAttachinfoStrorageMapper" >
  <resultMap id="BaseResultMap" class="com.ufgov.zc.common.zc.model.HuiyuanAttachinfoStrorage" > 
    <result column="ATTACHGUID" property="attachguid" jdbcType="VARCHAR" />
    <result column="ATTACHFILENAME" property="attachfilename" jdbcType="VARCHAR" />
    <result column="CONTENTTYPE" property="contenttype" jdbcType="VARCHAR" />
    <result column="CLIENGTAG" property="cliengtag" jdbcType="VARCHAR" />
    <result column="DOCUMENTTYPE" property="documenttype" jdbcType="VARCHAR" />
    <result column="CLIENTGUID" property="clientguid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" class="com.ufgov.zc.common.zc.model.HuiyuanAttachinfoStrorage" extends="BaseResultMap" > 
    <result column="CONTENT" property="content" typeHandler="org.springframework.orm.ibatis.support.BlobByteArrayTypeHandler" />
  </resultMap>
  <sql id="Base_Column_List" > 
    ATTACHGUID, ATTACHFILENAME, CONTENTTYPE, CLIENGTAG, DOCUMENTTYPE, CLIENTGUID
  </sql>
  <sql id="Blob_Column_List" >
    CONTENT
  </sql> 
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterClass="java.lang.String" > 
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from HUIYUAN_ATTACHINFO_STRORAGE
    where ATTACHGUID = #attachguid:VARCHAR#
  </select> 
  <select id="selectByClientguid" resultMap="ResultMapWithBLOBs" parameterClass="java.lang.String" > 
    select 
    <include refid="Base_Column_List" /> 
    from HUIYUAN_ATTACHINFO_STRORAGE
    where CLIENTGUID = #clientguid:VARCHAR#
  </select>
  <delete id="deleteByPrimaryKey" parameterClass="java.lang.String" > 
    delete from HUIYUAN_ATTACHINFO_STRORAGE
    where ATTACHGUID = #attachguid:VARCHAR#
  </delete>
  <insert id="insert" parameterClass="com.ufgov.zc.common.zc.model.HuiyuanAttachinfoStrorage" > 
    insert into HUIYUAN_ATTACHINFO_STRORAGE (ATTACHGUID, ATTACHFILENAME, CONTENTTYPE, 
      CLIENGTAG, DOCUMENTTYPE, CLIENTGUID, 
      CONTENT)
    values (#attachguid:VARCHAR#, #attachfilename:VARCHAR#, #contenttype:VARCHAR#, 
      #cliengtag:VARCHAR#, #documenttype:VARCHAR#, #clientguid:VARCHAR#, 
      #content,handler=org.springframework.orm.ibatis.support.BlobByteArrayTypeHandler#)
  </insert> 
  <update id="updateByPrimaryKeyWithBLOBs" parameterClass="com.ufgov.zc.common.zc.model.HuiyuanAttachinfoStrorage" > 
    update HUIYUAN_ATTACHINFO_STRORAGE
    set ATTACHFILENAME = #attachfilename:VARCHAR#,
      CONTENTTYPE = #contenttype:VARCHAR#,
      CLIENGTAG = #cliengtag:VARCHAR#,
      DOCUMENTTYPE = #documenttype:VARCHAR#,
      CLIENTGUID = #clientguid:VARCHAR#,
      CONTENT = #content,handler=org.springframework.orm.ibatis.support.BlobByteArrayTypeHandler#
    where ATTACHGUID = #attachguid:VARCHAR#
  </update>
  <update id="updateByPrimaryKey" parameterClass="com.ufgov.zc.common.zc.model.HuiyuanAttachinfoStrorage" > 
    update HUIYUAN_ATTACHINFO_STRORAGE
    set ATTACHFILENAME = #attachfilename:VARCHAR#,
      CONTENTTYPE = #contenttype:VARCHAR#,
      CLIENGTAG = #cliengtag:VARCHAR#,
      DOCUMENTTYPE = #documenttype:VARCHAR#,
      CLIENTGUID = #clientguid:VARCHAR#
    where ATTACHGUID = #attachguid:VARCHAR#
  </update>
</sqlMap>